[submodule "riscv-mini"]
	path = riscv-mini
	url = https://github.com/ucb-bar/riscv-mini.git
[submodule "fpga-zynq"]
	path = fpga-zynq
	url = https://github.com/ucb-bar/fpga-zynq.git
[submodule "firrtl"]
	path = firrtl
	url = https://github.com/freechipsproject/firrtl.git
[submodule "chisel3"]
	path = chisel
	url = https://github.com/freechipsproject/chisel3.git
[submodule "rocket-chip"]
	path = rocket-chip
	url = https://github.com/freechipsproject/rocket-chip.git
[submodule "midas-zynq"]
	path = platforms/zynq
	url = https://github.com/ucb-bar/midas-zynq.git
[submodule "midas"]
	path = midas
	url = https://github.com/ucb-bar/midas-release.git
[submodule "barstools"]
	path = barstools
	url = https://github.com/ucb-bar/barstools.git
[submodule "plsi"]
	path = plsi
	url = https://github.com/ucb-bar/hammer.git
